# Python cache
__pycache__
*.pyc
build
dist
*.egg-info
.cache

# NFS temp files
.nfs*

# Vim
*.swp

# pycharm
.idea

# Analysis temp files
*.nvprof
*.prof
*.tsv
*.hlo

# Profiling result cache
*.prof.pkl
tests/*.json

# Dataset
benchmark/deepspeed/data

# plots
*.png
*.pdf

# Numpy cache
*.npy
*.pkl
benchmark/alpa/tmp
*.log

# Documentation website build
docs/_build
docs/tutorials

# Example temp files
examples/imagenet/imagenet
