# Python cache
__pycache__
*.pyc
dist
*.egg-info
.cache
*env

# NFS temp files
.nfs*

# Vim
*.swp

# pycharm
.idea

# vscode
*vscode*

# Build files
alpa/pipeline_parallel/xla_custom_call_marker/build
build/bdist*
build_jaxlib/dist
build_jaxlib/.bazel*
build_jaxlib/WORKSPACE
build_jaxlib/build

# Examples build and tmp files
examples/build/
examples/imagenet/imagenet
examples/llm_serving/dataset/*.so
examples/llm_serving/dataset/*.c
examples/llm_serving/dataset/*.cpp
examples/llm_serving/weblogs
examples/llm_serving/keys_file.json
examples/llm_serving/benchmark/tmp*
examples/llm_serving/tmp*
examples/opt_finetune/output/
examples/gpt2/norwegian-gpt2/
alpa_debug_info

# Analysis temp files
*.nvprof
*.prof
*.tsv
*.hlo
*.pkl
benchmark/alpa/tmp*
benchmark/alpa/chrome_trace
*.log

# Tests temp files
tests/tmp
tests/*/tmp

# Dataset
benchmark/deepspeed/data

# plots
benchmark/*.pdf

# Numpy cache
*.npy

# Documentation website build
docs/_build
docs/tutorials

# macOS temp files
.DS_Store
