# Python cache
__pycache__
*.pyc
dist
*.egg-info
.cache
*env

# NFS temp files
.nfs*

# Vim
*.swp

# pycharm
.idea

# vscode
*vscode*

# Build files
alpa/pipeline_parallel/xla_custom_call_marker/build
build/lib
build/bdist*
build_jaxlib/build/bazel*
build_jaxlib/bazel-*
build_jaxlib/.jax_configure.bazelrc
build_jaxlib/dist

# Examples build and tmp files
examples/build/
examples/opt_serving/dataset/*.so
examples/opt_serving/dataset/*.c
examples/opt_serving/dataset/*.cpp
examples/opt_serving/weblogs
examples/opt_serving/benchmark/tmp/
examples/opt_serving/tmp/

# Analysis temp files
*.nvprof
*.prof
*.tsv
*.hlo

# Tests temp files
tests/tmp

# Dataset
benchmark/deepspeed/data

# plots
benchmark/**.pdf

# Numpy cache
*.npy
*.pkl
benchmark/alpa/tmp
*.log

# Documentation website build
docs/_build
docs/tutorials

# Example temp files
examples/imagenet/imagenet

# macOS temp files
.DS_Store
