[submodule "third_party/jax"]
	path = third_party/jax
	url = git@github.com:google/jax.git
[submodule "third_party/tensorflow-alpa"]
	path = third_party/tensorflow-alpa
	url = git@github.com:alpa-projects/tensorflow-alpa.git
