[submodule "third_party/jax"]
	path = third_party/jax
	url = https://github.com/google/jax.git
[submodule "third_party/tensorflow-alpa"]
	path = third_party/tensorflow-alpa
	url = https://github.com/alpa-projects/tensorflow-alpa.git
